<header class="header">
  <div class="header__container">
    <div class="header__city">
      <img class="header__city-img" [src]="locationImg" alt="location" />
      <p class="header__city-item">Vinnytsia, t.c. Megamoll</p>
    </div>
    <div class="header__image">
      <img [src]="logoImg" routerLink="" alt="logo" class="header__img" />
    </div>
    <div class="header__account">
      <a class="header__button" routerLink="/account">
        <img [src]="userIcon" alt="user" class="header__button-img" />
      </a>
    </div>
  </div>
</header>
