@import "../../../styles/color-mixin.scss";

.movie {
  @include _dark-blue;
  width: 100%;
  height: 340px;
  display: flex;
  border-radius: 20px;

  &__image {
    margin-right: auto;
  }

  &__img {
    border-radius: 20px;
    height: 340px;
    cursor: pointer;
  }

  &__items {
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3px;
    cursor: pointer;
    text-align: center;
  }

  &__rates {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
  }

  &__certificate {
    font-weight: 700;
  }

  &__genre {
  }

  &__session {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__date {
    margin-bottom: 10px;
  }

  &__sessions {
    display: flex;
    width: 170px;
    border: 1px solid #1a2232;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    max-height: 220px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__show {
    background-color: #1a2232;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
  }

  &__time {
    @include _orange;
    font-weight: 700;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }

  &__price {
    margin-left: 24px;
  }
}

.shows {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
