<div class="movie">
  <div class="movie__container">
    <div class="movie__quality">{{ movie?.quality }}</div>
    <div class="movie__image">
      <img [src]="movie.image" alt="image" class="movie__img" />
    </div>
    <div class="movie__title">{{ movie?.title }}</div>
    <div class="movie__desc">
      <div class="movie__genre">{{ movie?.genre }}</div>
      <div class="movie__certificate">{{ movie?.certificate }}</div>
      <a [href]="movie?.trailer" target="_blank" class="movie__link">
        <div class="movie__trailer">
          <img [src]="playButton" alt="play" class="play-button" />
          <p class="movie__link">Trailer</p>
        </div>
      </a>
      <div class="movie__sessionButton">
        <a [routerLink]="['/movie', movie?.title]" class="movie__sessionBtn"
          >Buy tickets</a
        >
      </div>
    </div>
  </div>
</div>
